.a-nav-link {
  @extend %h4;

  display: block;
  padding: rem(15) 0;
  margin: 0;
  text-decoration: none;
  color: $color-primary-blue;

  @include media-breakpoint-up(large) {
    margin-right: rem(40);
    padding: 0;
  }

  @include hover {
    color: $color-primary-orange;
  }

  &--active {
    color: $color-primary-orange;
  }
}
