.m-language-selector {
  position: relative;
  margin: rem(20) 0;

  @include media-breakpoint-up(large) {
    margin: 0;
    width: rem(44);
  }

  &__list {
    list-style: none;
    position: absolute;
    right: 0;
    top: 2rem;

    &[aria-hidden='true'] {
      display: none;
    }

    &,
    li {
      padding: 0;
      margin: 0;
    }
  }

  .a-link {
    white-space: nowrap;
  }
}
