.m-language-selector {
  position: relative;

  @include media-breakpoint-up(large) {
    width: rem(44);
  }

  &__list {
    list-style: none;
    position: absolute;
    top: rem(45);
    left: 0;
    width: 100%;
    background-color: $color-primary-white;
    border-top: 1px solid $color-secondary-gray;

    &[aria-hidden="true"] {
      display: none;
    }

    &,
    li {
      padding: 0;
      margin: 0;
    }

    @include media-breakpoint-up(large) {
      width: auto;
      top: rem(32);
      right: 0;
    }
  }

  .a-link {
    white-space: nowrap;
  }
}
