.o-teasers-grid {
  @include no-bullets;

  @include media-breakpoint-up(medium) {
    margin: rem(60) 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $grid-gutter;
  }
}
