.a-highlight {
  padding: rem(20) rem(20) rem(20) rem(19);

  @supports (display: grid) {
    padding: rem(20);
  }

  &--gray {
    background-color: $color-secondary-gray-light;
  }

  &--blue {
    background-color: $color-primary-blue;
    color: $color-primary-white;
  }
}
