.o-good-to-know {
  &__teasers {
    @include media-breakpoint-up(medium) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $grid-gutter;
    }
  }

  &__highlight {
    padding: rem(60) 0 rem(100) 0;
  }
}
