.o-footer {
  padding: rem(20) 0;
  color: $color-primary-white;
  background-color: $color-primary-blue;

  &__sections {
    padding: rem(20) 0;

    @include media-breakpoint-up(large) {
      // BEGIN IE11: Grid specifications - remove when IE11 is not supported anymore
      display: -ms-grid;
      -ms-grid-columns: 1fr $grid-gutter 1fr $grid-gutter 2fr;
      -ms-grid-rows: 1fr;

      .m-footer-section {
        &:nth-of-type(1) {
          -ms-grid-column: 1;
          -ms-grid-rows: 1;
        }

        &:nth-of-type(2) {
          -ms-grid-column: 3;
          -ms-grid-rows: 1;
        }

        &:nth-of-type(3) {
          -ms-grid-column: 5;
          -ms-grid-column-span: 3;
          -ms-grid-rows: 1;
        }
      }
      // END IE11

      @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr;
        grid-gap: rem(30);
      }
    }
  }

  &__bottom {
    p,
    ul {
      @extend %font-small;
    }

    padding-top: rem(20);
    padding-bottom: rem(40);
    border-top: 1px solid $color-primary-orange;

    @include media-breakpoint-up(large) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .m-link-list {
      @include media-breakpoint-up(large) {
        @include h-list;
      }
    }
  }

  &__copyright {
    margin: 0;
    padding: rem(5) 0;
  }
}
