@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@500;700&display=swap');

$fontPrimary: 'Karla', sans-serif;
$fontSecondary: 'Rubik', sans-serif;

:export {
  fontPrimary: $fontPrimary;
  fontSecondary: $fontSecondary;
}
