@mixin media-breakpoint-up($name) {
  $min: strip-unit(map-get($breakpoints, $name));

  @if $min {
    @media (min-width: #{em($min)}) {
      @content;
    }
  } @else {
    @content;
  }
}

%h1,
%h2,
%h3,
%h3,
%h4 {
  font-family: $fontSecondary;
}

%h1 {
  font-weight: 700;
}

%h2,
%h3,
%h4 {
  font-weight: 500;
}

%font-regular {
  font-family: $fontPrimary;
  font-weight: 400;
}
