.m-hero {
  &__image .a-img {
    padding-top: $aspect-ratio-hero;
  }

  h1 {
    word-break: break-word;
  }

  .m-hero__breadcrumbs {
    padding-top: rem(20);
  }

  @include media-breakpoint-up(large) {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    -ms-grid-rows: 1fr;

    &__image {
      grid-column: 1;
      -ms-grid-column: 1;
      grid-row: 1;
      -ms-grid-row: 1;
      z-index: 1;

      .a-img {
        padding-top: 100%;
      }
    }

    &__text {
      grid-column: 1 / 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-row: 1;
      -ms-grid-row: 1;
      z-index: 2;

      > .l-constrainer {
        height: 100%;
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        -ms-grid-rows: 1fr;
      }
    }

    &__inner {
      grid-column: 2;
      -ms-grid-column: 2;
      grid-row: 1;
      -ms-grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: calc((100% / 12) + 1.5 * #{$grid-gutter});
    }

    .m-hero__breadcrumbs {
      grid-column: 1/5;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-row: 2;
      -ms-grid-row: 2;
    }
  }

  @include media-breakpoint-up(wide) {
    &__image .a-img {
      padding-top: $aspect-ratio-hero;
    }
  }
}
