.m-teaser {
  &__link {
    display: block;
    text-decoration: none;
  }

  .a-img + * {
    margin-top: rem(20);
  }
  strong {
    display: block;
    margin-bottom: rem(40);
  }

  &--bg-gray,
  &--bg-white {
    strong,
    p {
      padding-right: rem(20);
      padding-left: rem(20);
    }
  }

  &--bg-white {
    background-color: $color-primary-white;
  }

  &--bg-gray {
    background-color: $color-secondary-gray-light;
  }
}
