.a-logo {
  display: inline-block;

  svg {
    height: map-get($logoHeight, zero);
    width: auto;
  }

  @include media-breakpoint-up(medium) {
    svg {
      height: map-get($logoHeight, medium);
    }
  }

  @include media-breakpoint-up(large) {
    svg {
      height: map-get($logoHeight, large);
    }
  }
}
