.a-logo {
  width: rem(80);

  @include media-breakpoint-up(medium) {
    width: rem(100);
  }

  @include media-breakpoint-up(large) {
    width: rem(150);
  }

  svg {
    width: 100%;
    height: auto;
  }
}
